.homeSection {
  width: calc(100vw - 140px);
  height: calc(100vh - 76px);
  padding: 2rem;
  overflow: scroll;
}
.homeOptions {
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.homeOptions input,
select {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
  color: black;
  font-size: 16px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.homeItems {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1200px) {
  .homeItems {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  .homeOptions input,
  select {
    width: 40%;
  }
  .homeItems {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .homeItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 668px) {
  .homeSection {
    width: 100%;
    height: auto;
    padding: 1rem;
    overflow: auto;
  }
}
